<p class="Text-imp">Inscrivez-vous ou connectez-vous pour accéder au dashboard</p>
<div class="Bouton-NoConnexion text-center">

    <a href="/inscription" class="btn btn-primary btn-lg mr-3">Inscription</a>
    <a href="/connexion" class="btn btn-success btn-lg">Connexion</a>

</div>