<body>

  <div class="container">
    <form class="form-container">
      <h2 class="mb-4">Formulaire de connexion</h2>
      <div class="mb-3">
        <label for="email" class="form-label">Adresse mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="mdp" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="mdp" name="mdp" required>
      </div>
      <div class="bouton">
        <button type="submit" class="btn btn-primary btn-submit">Connexion</button>
      </div>
    </form>
  </div>

</body>