<p class="erreurs">
    {{message}}
</p>

<!-- Redirection automatique vers le dashboard apres 5 sec -->
<script>
  setTimeout(function() {
    window.location.href = '/dashboard';
  }, 5000); 
</script>
