<form action="/rappel/{{idGroup}}/{{rappel.IDRappel}}" method="post" class="form-container add-rappel-container">
  <div class="form-group">
    <label for="titre">Titre</label>
    <input type="text" id="titre" name="titre" required class="form-control">
  </div>
  <div class="form-group form-add-reminder">
    <label for="description">Description</label>
    <!-- Conteneur pour l'éditeur Quill -->
    <div id="editor">
        Entrez votre ici ! <!-- description par défaut -->
    </div>
    <!-- Un champ caché pour transmettre données de ce que je comprends -->
    <input type="hidden" name="description" id="description">
  </div>

  <div class="form-group form-add-reminder">
    <label for="dateFin">Date de fin</label>
    <input type="date" id="dateFin" name="dateFin" required class="form-control">
  </div>

  <div class="form-group form-add-reminder">
    <label for="couleur">Couleur</label>
    <div id="colorPicker">
      {{#each Couleur}}
      <div class="color-container">
        <div class="color-block" style="background-color: {{this}};" data-color="{{this}}"></div>
      </div>
      {{/each}}
    </div>
    <input type="hidden" id="couleur" name="couleur">
  </div>

  <div class="btn-add-reminder form-add-reminder">
    <button type="submit" class="btn btn-primary btn-submit btn-valider">Valider</button>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    // Obtenez l'élément input de type date
    var dateInput = document.getElementById('dateFin');
    
    // Créez un objet Date pour obtenir la date d'aujourd'hui
    var today = new Date();
    
    // Convertissez la date au format AAAA-MM-JJ pour la valeur min
    var dateToday = today.toISOString().split('T')[0];
    
    // Définissez l'attribut min sur la date d'aujourd'hui pour l'input date
    dateInput.setAttribute('min', dateToday);
  });
</script>