<p class="Text-imp">Êtes vous sur de vouloir supprimer le rappel ?</p>
<div class="Bouton-Suppr text-center">

    <a href="/suppression/{{idGroup}}/{{idRappel}}/1" class="btn btn-primary btn-lg mr-3">OUI</a>
    <a href="/suppression/{{idGroup}}/{{idRappel}}/0" class="btn btn-success btn-lg">NON</a>

</div>