<p class="Text-imp">Êtes vous sur de vouloir supprimer le rappel ?</p>
<div class="Bouton-Suppr text-center">

    <a href="/inscription" class="btn btn-primary btn-lg mr-3">oui</a>
    <a href="/connexion" class="btn btn-success btn-lg">non</a>

</div>