body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.Text-imp {
    font-size: 2em
}

/* Boutons*/
.bouton {
    display: flex;
    justify-content: right;
}

.Bouton-NoConnexion {
    background-color: #fff;
    padding: 30px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: auto;
}

.btn {
    padding: 15px 0px;
    font-size: 20px;
    border-radius: 25px;
    width: 42%;
}

.btn-success {
    margin-left: 4%;
}

.btn-submit {
    margin-top: 15px;
    width: 40%;
}

/*Groupes et rapels*/
.box-container {
    display: flex;
    padding: 20px;
    width: 90%;
}

.box {
    border: 2px solid #000000;
    border-radius: 15px;
    padding-top: 5px;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rappel {
    width: 70%;
}

.groupe {
    width: 30%;
    margin-right: 20px;
}

.rappel-box {
    background-color: lightblue;
    width: 100%;
}

.groupe-box {
    background-color: lightgreen;
    width: 100%;
}




/*formulaire*/
.form-container {
    max-width: 550px;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: auto;
}


/* Contenue rappels et groupes (les données) */
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: 2px solid #000000;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.groups-data {
    text-decoration: none;
    color: #000000;
}

.data-dépassés {
    color: #ff0000;
}

.titre {
    width: 20%;
}

.date_echeance {
    width: 20%;
}

.description {
    width: 60%;
}

.top-box {
    margin-bottom: 4%;
}

.page-group {
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: space-between; 
}

.BoutonCreateGroup {
    text-align: center;
    text-decoration: none;
    background-color: #1ddd4763;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.BoutonCreateGroup:hover {
    background-color: #1ddd479d;
}

.CreateGroupButton {
    margin-top: 20px;
}

.CreateUserButton{
    margin-top: 20px;
}

.form-user-container{
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.Rappels_depasses{
    background-color: #ff0000de;
}

.BoutonCreateUser {
    text-align: center;
    text-decoration: none;
    background-color: lightblue; /* Choisissez une couleur différente si nécessaire */
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

.BoutonCreateUser:hover {
    background-color: rgba(120, 174, 192, 0.863);
}

.Right-section {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 2%;
}

.user-list-box{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}

#userListTable, #userListTable  tr {
    display: table; 
    width: 100%; 
    table-layout: fixed; 
}

#userListTable {
    display: block; 
    max-height: 250px; 
    overflow-y: auto;
}

.SeparateButtonAddUserAndRappel{
    width: 70%;
}



/*header et footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #dbdbdb;
}

footer p {
    margin: 0px;
    color: #000000;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dbdbdb;
    z-index: 1000;
}

.navbar-RemindR {
    padding: 0 1%;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em
}

.nav-link {
    color: #000000;
    font-size: 1.2em;
}

.collapse {
    margin-right: 1%;
}
