body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
}


.Text-imp {
    font-size: 2em
}

/* Boutons*/
.bouton {
    display: flex;
    justify-content: right;
}

.Bouton-NoConnexion {
    background-color: #fff;
    padding: 30px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: auto;
}

.Bouton-Suppr {
    background-color: #fff;
    padding: 30px;
    margin-top: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 35%;
    height: auto;
}

.btn {
    padding: 15px 0px;
    font-size: 20px;
    border-radius: 25px;
    width: 40%;
}

.btn-success {
    margin-left: 4%;
}

.btn-submit {
    margin-top: 15px;
    width: 40%;
}


/*Groupes et rapels*/
.box-container {
    display: flex;
    padding: 20px;
    width: 90%;
}

.box {
    border: 2px solid #000000;
    border-radius: 15px;
    padding-top: 5px;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rappel {
    width: 70%;
}

.groupe {
    width: 30%;
    margin-right: 20px;
}

.rappel-box {
    background-color: lightblue;
    width: 100%;
}

.groupe-box {
    background-color: lightgreen;
    width: 100%;
}

/*formulaire*/
.form-container {
    max-width: 550px;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: auto;
}


/* Contenue rappels et groupes (les données) */
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: 2px solid #000000;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.th,
.td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}



.td-empty,
.ButtonCochable,
.ButtonUpdateRappel {
    text-align: center;
}

.ButtonCochable {
    padding-right: 15px;
}

.ButtonUpdateRappel {
    padding-left: 15px;
}

.groups-data {
    text-decoration: none;
    color: #000000;
}

.page-group {
    width: 95%;
    text-align: center;
    display: flex;
}

.Rappele-depasse-titre-tableau {
    color: #ff0000d2
}

.Rappels_depasses {
    background-color: #ff0000c7;
}

.emptyFirst {
    width: 5%;
}

.titre {
    width: 15%;
}

.date_debut {
    width: 10%;
}

.date_echeance {
    width: 10%;
}

.description {
    width: 25%;
}

.UserFinishTask {
    width: 15%;
}

.emptyEnd {
    width: 20%;
}


.top-box {
    margin-bottom: 4%;
}

.BoutonCreateGroup {
    text-decoration: none;
    background-color: #1ddd4763;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.BoutonCreateRappel {
    text-decoration: none;
    background-color: rgb(152, 210, 230);
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.BoutonCreateUser {
    text-align: center;
    text-decoration: none;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

.ButtonUpdateRappel,
.ButtonSupprRappel {
    text-decoration: none;
    background-color: rgb(152, 210, 230);
    color: #000000;
    padding: 10px 20px;
    margin: 5px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.ButtonUpdateRappel {
    background-color: #fd6702;
    color: #f0f0f0;
}

.ButtonSupprRappel {
    margin-top: 15px;
    background-color: #ff000dc5;
    color: #f0f0f0;
}

.BoutonCreateGroup:hover {
    background-color: #1ddd479d;
}

.BoutonCreateRappel:hover,
.BoutonCreateUser:hover {
    background-color: rgba(120, 174, 192, 0.863);
}

.CreateGroupButton,
.CreateUserButton {
    margin-top: 20px;
}


.form-user-container {
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
}


.Left-section {
    width: 70%;
    flex-direction: column;
}

.Right-section {
    width: 30%;
    margin-left: 2%;
}

.user-list-box {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}

#userListTable,
#userListTable tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#userListTable {
    display: block;
    max-height: 250px;
    overflow-y: auto;
}

.SeparateButtonAddUserAndRappel {
    width: 70%;
}

.form-add-reminder {
    margin-top: 20px;
}

.add-rappel-container {
    width: 55%;
}

.btn-add-reminder {
    margin-left: 60%;
    width: 100%;
}

/*Pour couleur formulaire rappel*/
#colorPicker {
    display: flex;
    gap: 17px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

.color-block {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.3s ease;
}

.color-block:hover,
.color-block.selected {
    transform: scale(1.1);
    border-color: #000;
}


/*Style des erreurs*/
.erreurs {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 20px;
    margin: 30px auto;
    width: auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #D8000C;
    box-shadow: 0 0 10px rgba(216, 0, 12, 0.5);
    font-size: 1.5em;
}


/*header et footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #dbdbdb;
}

footer p {
    margin: 0px;
    color: #000000;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dbdbdb;
    z-index: 1000;
    margin-bottom: 15px;
}

.navbar-RemindR {
    padding: 0 1%;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em
}

.nav-link {
    color: #000000;
    font-size: 1.2em;
}

.collapse {
    margin-right: 1%;
}